<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="body-color">
    <div>
        <div class="search-box">
            <input type="text" id="input_query" placeholder="Search your query" class="search-input">
            <img src='../../../assets/icons8-search-more-24_red.png' alt="search">
            <img class="reindex-box" src='../../../assets/rotate-solid.svg' (click)="reindex_cluster_data()">
        </div>

        <!-- <div >
          
      </div> -->


        <div>
            <!-- <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="bubblechart"
            class="cluster-box"
            id="hgchart"
          >
          </highcharts-chart> -->

          <figure class="highcharts-figure cluster-box">
            <div id="container"></div>
            <!-- <p class="highcharts-description">
              This chart shows how packed bubble charts can be grouped by series,
              creating a hierarchy.
            </p> -->
          </figure>
        </div>
    </div>
    <div>
      
    </div>
</body>
</html>


  